.done {
  text-decoration: line-through;
}

.list-group-item>.done:hover {
  text-decoration: line-through;

}

.list-group .listItem {
  display: flex;
  justify-content: space-around;

}

.list-group .list-group-item-info>p {
  display: block;
  margin: auto;
}
.list-group .list-group-item-info {
  display: flex;
  justify-content: space-between;
}
.list-group .list-group-item-warning {
  display: flex;
  justify-content: space-between;
}

.list-group-item-warning>div {
  display: flex;
  align-items: center;
}

.list-group-item-warning>div>p {
  margin: 0;
}
.list-group-item-warning form {
  display: inline-flex;
}

.list-group-item>div>.btn-primary {
  margin-right: 5px;
}